html, body {
    overflow: hidden;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#renderCanvas {
    width: 100%;
    height: 50%;
    touch-action: none;
}

#streamFrame {
    width: 100%;
    height: 50%;
}

#ui {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
}

#topUI {
    position: fixed;
    width: 100%;
}

#midUI {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#buttonLeft {
    left: 0;
}

#buttonLeft:active {
    content: url("ui/Btn_Left_Press.png");
}

#buttonMiddle {
    left: 0;
    right: 0;
}

#buttonMiddle:active {
    content: url("ui/Btn_Action_Press.png");
}

#buttonRight {
    right: 0;
}

#buttonRight:active {
    content: url("ui/Btn_Right_Press.png");
}

.bigButton {
    all: unset;
}

.buttonImage
{
    position: absolute;
    max-height: 20%;
    width: 38%;
    bottom: 0;
    margin: auto;
    user-select: none;
    -webkit-user-select: none;
}